<br>
<mat-card>
    <mat-card-title>
    <span>Heroes</span>
    </mat-card-title>
<mat-divider></mat-divider>
<br>
<div>
<label>Hero name:
    <input #heroName />
  </label>
<button  mat-raised-button color="accent" (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
              </a>
      <button  mat-raised-button color="warn" class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
        <br>
    </li>
  </ul>
  <br>



    <!-- <mat-list-option *ngFor="let hero of heroes" [value]="hero.id">
        <a routerLink="/detail/{{hero.id}}">
      {{hero.name}}
      </a>
      <button mat-raised-button color="warn" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
    </mat-list-option> -->
  
  
  <!-- <p>
    Option selected: {{hero.id}}
  </p> -->
  


<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <mat-card-subtitle>
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    </mat-card-subtitle>
  </li>
</ul> -->
</mat-card>
